.coming-soon {
  .footer {
    display: none;
    min-height: 100vh;
  }
  &__hero {
    height: 80vh;
    text-align: center;
    padding: 80px 0;
    position: relative;

    @media ($tablet) {
      padding: 160px 0;
    }
    .ellipse-decor {
      left: 40%;
      top: 80%;
    }
  }
  &__title {
    p {
      font-size: 18px;
      max-width: 640px;
      margin: 0 auto;
      line-height: 2.1em;
    }

    &.agencies__title{
      margin: 0 auto;
      max-width: 900px;

        h1, h2, h3, h4, h5, h6 {
          margin-bottom: 20px;
        }

        p{
          & ~ p{
            margin-top: 20px;
          }
        }
    }
  }
}

.form__row {
  display: flex;
  justify-content: center;
  gap: 10px;

    @media screen and (max-width: 799px){
      flex-direction: column;
    }

    &-duplicated{
        &-item{
          padding-top: 15px;
        }
    }

  .form__item {
    width: 50%;
    margin-bottom: 10px;

      @media screen and (max-width: 799px){
        width: 100%;
      }

      &.form__item-large{
        width: 100%;
      }
  }
  .form-input {
    background-color: transparent;
    border: 2px solid rgba(#191919, 0.1);

    &:hover {
      border-color: #bababa;
    }
    &:focus {
      border-color: #bababa;
    }
  }
  .form__submit {
    padding: 0;
    height: 100%;
    input {
      height: 100%;
      padding: 19px 24px;
      @media ($tablet) {
        padding: 26px 24px;
      }
    }
  }

  &-action{
    display: flex;
    justify-content: flex-end;
    padding-bottom: 10px;

      .btn{
        border: none;
        padding: 6px 10px;
        background-image: linear-gradient(131.34deg, rgba(249, 144, 115, 0.1) 0.24%, rgba(210, 149, 126, 0.1) 100.24%);
        border-radius: 4px;
        transition: all .2s ease;

          &:hover{
            color: #fff;
            background-image: linear-gradient(131.34deg, #f99073 0.24%, #d2957e 100.24%);
          }

          &.disabled{
            pointer-events: none;
            opacity: 0.5;
          }
      }
  }
}

#main_source_of_delay_textarea{
  display: none;
}
