.services {
  &__title {
    padding-top: 60px;
    margin-bottom: 80px;
    @media ($tablet) {
      padding-top: 114px;
      margin-bottom: 80px;
    }
    h1 {
      @include gradient-text(#46a29f, #f99073);
    }
    p {
      @include gradient-text(#46a29f, #4660a2);
      font-size: 16px;
      line-height: 2em;
      font-family: var(--ff-main);
      font-weight: 600;
      max-width: 1100px;
      @media ($tablet) {
        font-size: 18px;
      }
    }
  }
  &-offers {
    position: relative;
    padding-top: 30px;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 400px;
      top: 0;
      left: 0;
      background: url(../images/services-line.svg) no-repeat center;
      background-size: contain;
    }
    .section-dna-decor {
      left: 0;
    }
    @media ($tablet) {
      padding-top: 60px;
    }
    &__row {
      @media ($tablet) {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
      }
    }
    &__content {
      margin-bottom: 32px;
      position: relative;
      .ellipse-decor {
        right: -40px;
        top: 35%;
      }
      @media ($tablet) {
        margin-bottom: 0;
        margin-right: 40px;
        flex: 0 0 52%;
      }
      @media ($tablet) {
        margin-top: 40px;
      }
    }
    &__image {
      position: relative;
      @media ($tablet) {
        flex: 0 0 34%;
      }
      .section-dna-decor {
        width: 50px;
        bottom: 20%;
        right: -30px;
        top: auto;
        left: auto;
        z-index: -1;
      }
      img {
        position: relative;
        z-index: 1;
        object-fit: cover;
        display: block;
        width: 100%;
        height: 100%;
        border-radius: 8px;
        overflow: hidden;
      }
    }
  }
  &-surrogacy {
    padding: 40px 0;

    @media ($tablet) {
      padding: 80px 0;
    }
    &__title {
      h2 {
        @include gradient-text(#46a29f, #f99073);
      }
      @media ($tablet) {
        padding-bottom: 48px;
        margin-bottom: 48px;
        border-bottom: 1px solid #ece2e5;
      }
    }
    &__content {
      @include gradient-text(#46a29f, #f99073);
      margin-bottom: 32px;
      @media ($tablet) {
        margin-bottom: 48px;
      }
    }
    &__text {
      margin-bottom: 32px;
      p {
        margin: 0;
        padding-bottom: 20px;
      }
      @media ($tablet) {
        column-count: 2;
        column-gap: 80px;
      }
      @media ($medium-d) {
        column-gap: 120px;
      }
    }
  }
  &-centers {
    position: relative;
    .section-dna-decor {
      top: -40px;
      left: 10%;
      width: 50px;
    }
    .bg-decorator {
      padding: 60px 0;
      margin-bottom: 0;
      @media ($tablet) {
        padding: 100px 0;
      }
    }
    .bgVideoPartner {
      right: 0;
      bottom: 0;
      left: auto;
      top: auto;
      transform: scale(-1) rotate(90deg);
      max-width: 40%;
      mix-blend-mode: multiply;
    }
    &__content {
      @media ($tablet) {
        max-width: 80%;
      }
      h2 {
        @include gradient-text(#46a29f, #f99073);
      }
      ul {
        margin-bottom: 40px;
      }
    }
  }
  &-moms {
    position: relative;
    padding: 40px 0;
    @media ($tablet) {
      padding: 80px 0;
    }
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 400px;
      top: 0;
      left: 0;
      background: url(../images/services-line.svg) no-repeat center;
      background-size: contain;
    }
    .section-dna-decor {
      width: 50px;
      right: 25%;
      top: 5%;
      left: auto;
      bottom: auto;
      transform: rotate(90deg);
    }
    &__title {
      margin-bottom: 30px;
      @media ($tablet) {
        margin-bottom: 56px;
      }
      h2 {
        @include gradient-text(#46a29f, #f99073);
      }
    }
    &__content {
      margin-bottom: 32px;
      p {
        margin: 0;
        padding-bottom: 20px;
      }
      @media ($tablet) {
        column-count: 2;
        column-gap: 80px;
      }
      @media ($medium-d) {
        column-gap: 120px;
      }
    }
  }
  &-add {
    position: relative;
    h4 {
      display: inline-block;
    }
    .section-dna-decor {
      left: 3%;
      top: 10%;
      width: 30px;
    }
    .accordion__item {
      &.is-active {
        .accordion__title {
          h4 {
            &::before {
              transform: rotate(270deg);
            }
          }
        }
      }
    }
    .accordion__title {
      cursor: pointer;
      &::before {
        display: none;
      }
      h4 {
        position: relative;
        padding-left: 20px;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
        @include gradient-text(#f99073, #d2957e);

        &:before {
          content: "";
          left: 0;
          top: 18px;
          position: absolute;
          display: block;
          width: 10px;
          height: 10px;
          background: url("../images/sprite/ic_arrow_right_orange.svg") no-repeat center;
          background-size: contain;
          transform: rotate(90deg);
          .is-active & {
            transform: rotate(270deg);
          }
        }
      }
      p {
        background: none;
        color: var(--c-text);
        font-weight: 400;
        -webkit-background-clip: initial;
        -webkit-text-fill-color: initial;
      }
    }
    .accordion__text {
      p {
        margin-bottom: 20px;
      }
      ul {
        margin: 20px 0;
        @media ($tablet) {
          margin: 40px 0;
        }
        li {
          &:not(:last-child) {
            margin-bottom: 10px;
            @media ($tablet) {
              margin-bottom: 20px;
            }
          }
        }
      }
    }
    &__title {
      text-align: center;
      margin-bottom: 10px;
      @media ($tablet) {
        margin-bottom: 30px;
      }
      h2 {
        @include gradient-text(#46a29f, #f99073);
      }
    }
  }

  &-text {
    position: relative;
    &::before {
      position: absolute;
      content: "";
      width: 100%;
      height: 400px;
      top: 70%;
      left: -10%;
      background: url(../images/services-line.svg) no-repeat center;
      background-size: contain;
    }
    @media ($tablet) {
      padding: 80px 0;
    }
    .bg-decorator {
      padding: 60px 0;
    }
    &__content {
      p {
        @media ($tablet) {
          font-size: 14px;
        }
      }
    }
  }
}

.decorator {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 50px;
  top: 5%;
  background-image: url("../../images/img_adv_title_decor.png");
  background-size: contain;
  background-repeat: no-repeat;
}
