.testing-page {
  &-banner {
    // margin-bottom: -5px;
    padding-top: 133px;
    margin-top: -133px;
    position: relative;
    background: #fff;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      bottom: -100px;
      right: 0;
      left: 0;
      background: linear-gradient(180deg, rgba(249, 249, 249, 1) 0%, rgba(254, 243, 249, 1) 0%, rgba(255, 255, 255, 0) 100%, rgba(251, 246, 249, 0) 100%);
      z-index: 1;
      opacity: 0.9;
    }

    .container {
      position: relative;
      z-index: 2;
      padding-top: 60px;
      justify-content: space-between;
      padding-right: 0;
        @media ($mob) {
          text-align: center;
          padding-right: 32px;
        }
        @media ($tablet) {
          display: flex;
          padding-top: 122px;
        }
    }

    &__title {

      @media ($tablet) {
        flex-basis: 42%;
        padding-top: 28px;
      }

      @media screen and (max-width: 1306px) {
        flex-basis: 40%;
      }

      .section-title {
        line-height: 1.604em;
        margin-bottom: 22px;
        font-size: 50px;
          @media ($tablet) {
            font-size: 48px;
            margin-bottom: 27px;
            max-width: 390px;
          }
      }
    }

    &__description{
      line-height: 2em;
      font-size: 16px;
      max-width: 410px;
      margin: 0 auto;
        p{
          margin: 0;
        }
        @media ($tablet) {
          margin: 0;
        }
    }

    &__img {
      @media ($tablet) {
        margin-right: -50px;
      }

      @media screen and (max-width: 1685px) {
        margin-right: 0;
        // width: 33vw;
      }      

      .partners{
          &__item{
            flex-basis: 100%;
            padding: 30px 0;
            justify-content: flex-start;
              &:before{
                display: none;
              }
              @media screen and (max-width: 1306px) {
                padding: 20px 0;
              }
              @media ($tablet) {
                &:nth-child(1){
                  .partner{
                    max-width: 90%;
                  }
                  .partner__title-icon::before{
                    width: 228px;
                      @media screen and (max-width: 1685px) {
                        width: 122px;
                      }
                  }
                }
                &:nth-child(2){
                  .partner__title-icon::before{
                    width: 112px;
                      @media screen and (max-width: 1685px) {
                        width: 5px;
                      }
                  }
                }
                &:nth-child(3){
                  .partner__title-icon::before{
                    width: 230px;
                      @media screen and (max-width: 1685px) {
                        width: 122px;
                      }
                  }
                  .partner{
                    max-width: 90%;
                  }
                }
              }
          }
          @media ($tablet) {
            position: absolute;
            right: 107%;
            top: -43px;
            width: 330px;
            flex-direction: column;
            flex-wrap: nowrap;
          }
          @media screen and (max-width: 1685px) {
            right: 95%;
          }
          @media screen and (max-width: 1306px) {
            top: -120px;
            padding: 100px 0 20px;
            width: 305px;
          }
          @media screen and (max-width: 1185px) {
            right: 75%;
          }
          @media screen and (max-width: 1023px) {
            right: 0;
            top: 0;
            width: 100%;
          }
      }

      .partner{
          &__title{
            &-icon{
              margin-left: 10px;
            }
            @media screen and (max-width: 1023px) {
              width: auto;
              align-items: center;
            }
            @media ($tablet) {
              display: inline-flex;
              align-items: center;
              justify-content: flex-start;
            }
          }
          &__icon{
            margin-right: 28px;
          }
          @media ($tablet) {
            width: 100%;
          }
      }

      img {
        height: 100%;
        object-fit: contain;
        object-position: center bottom;
        margin-bottom: -5px;
          @media ($tablet) {
            margin-bottom: 0;
          }
      }

      & > img{
        max-width: 528px;
        width: 40vw;
          @media screen and (max-width: 1023px) {
            width: 100%;
          }
      }

    }

    &__btn {
      margin-bottom: 60px;

      span {
        min-width: 260px;
      }
    }

    .partners__item{
      &:after{
        width: 14px;
        height: 14px;
        left: 45px;
        background: transparent;
        background-image: url(../images/sprite/ic_arrow_down_grey.svg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: contain;
        opacity: .6;
      }
      &:nth-child(2n) {
        &:after{
          display: block;
        }
      }
      &:last-child{
        &:after{
          display: none;
        }
      }
    }

  }
}

.how-it-works {

  &-section {
    position: relative;
    .bg-decorator {
      padding-top: 100px;
      padding-bottom: 50px;
      @media ($tablet) {
        padding-top: 150px;
        padding-bottom: 100px;
      }
    }

    .section-title {
      margin-bottom: 20px;
      text-align: center;
      @media ($tablet) {
        margin-bottom: 55px;
      }
    }
    .partners {
      padding: 0;
    }
    .partner {
      @media ($tablet) {
        width: 80%;
      }
    }

    .partners__item {
      @media ($mob) {
        max-width: 100%;
        width: 360px;
        margin: 0 auto 50px;
      }
      @media ($tablet) {
        display: flex;
      }
      &:nth-child(3n+2) {
        justify-content: center;
      }
    }
    .partner__title{
      padding-right: 24px;
      color: var(--c-gray-800);
      &:after {
        position: absolute;
        top: 50%;
        right: 0;
        transform: translateY(-50%);
        width: 16px;
        height: 16px;
      }
    }
  }

  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
  }

}

.how-it {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  $root: &;
  &__img {
    flex-shrink: 0;
    margin-right: 40px;
  }
  &__text {
    position: relative;
    max-width: 200px;
    padding-right: 28px;
    font-weight: 600;
    color: var(--c-gray-800);
    line-height: 2;
    font-size: 16px;

    &:after {
      top: 50%;
      right: 0;
      transform: translateY(-50%);
      content: '';
      display: block;
      position: absolute;
      width: 16px;
      height: 16px;
      background: url("../images/ic_i.svg") no-repeat center;
      background-size: contain;
    }
  }
  &__hint {
    display: none;
    position: absolute;
    top: 100%;
    left: 15px;
    right: 15px;
    background: #fff;
    border-radius: 8px;
    padding: 15px;
    box-shadow: 0 3px 2px rgba(32, 40, 51, 0.1);
    z-index: 2;
    &:before {
      content: '';
      width: 16px;
      height: 16px;
      background: inherit;
      position: absolute;
      top: -4px;
      left: 50%;
      transform: rotate(45deg) translate(-8px, 0);
    }
  }
  &:hover {
    #{$root}__hint {
      display: block;
    }
  }
}

.testing-info {
  $root: &;
  &-wrapper {
    padding-top: 60px;
    padding-bottom: 20px;
    position: relative;
    @media ($tablet) {
      padding-top: 10px;
      padding-bottom: 40px;
      display: flex;
      flex-wrap: wrap;
    }
  }
  &__item {
    margin-bottom: 33px;
    display: flex;

    @media ($tablet) {
      flex-basis: 50%;
      margin-bottom: 63px;
      &:nth-child(2n) {
        justify-content: flex-end;
        position: relative;
        &:before {
          content: '';
          position: absolute;
          left: 0;
          top: 0;
          bottom: 56px;
          width: 1px;
          background: #e3dfe3;
        }
      }
      &:nth-last-child(2){
        #{$root} {
          border-bottom: 0;
        }
      }
    }

    &:last-child {
      #{$root} {
        border-bottom: 0;
      }
    }
  }

  display: flex;
  padding-bottom: 56px;
  border-bottom: 1px solid #e3dfe3;
  width: 100%;
  @media ($tablet) {
    max-width: calc(100% - 128px);
  }

  &__icon {
    flex-shrink: 0;
  }
  &__text {
    padding-left: 40px;
    h2, h3, h4 {
      display: inline-block;
      @include gradient-text(#46A29F , #F99073);
      font-size: 24px;
      line-height: 1.2;
      font-family: var(--ff-accent);
      margin: 0 0 20px;
    }
    p {
      color: var(--c-gray-800);
      font-size: 16px;
      line-height: 2;
      margin: 0;
    }
  }
}

.tab-controls {
  margin-bottom: 47px;
  a {
    display: block;
    text-decoration: none;
    font-size: 18px;
    line-height: 2;
    padding: 4px 30px;
    font-weight: 600;
    color: var(--c-gray-800);
    border-radius: 8px;
    @media ($tablet) {
      display: inline-block;
    }
    span {
      display: inline-block;
      font-size: 12px;
      line-height: 1.5;
      font-weight: 500;
      font-family: var(--ff-main);
      padding: 4px 8px;
      border-radius:8px;
      border: 1px solid rgba(148, 144, 150, 0.2);

    }
    &.active {
      color: var(--c-orange);
      background: linear-gradient(131.34deg, rgba(249, 144, 115, 0.1) 0.24%, rgba(210, 149, 126, 0.1) 100.24%);
    }
    + a {
      @media ($tablet) {
        margin-left: 10px;
      }
    }
  }
}

.tabs {
  .bg-decorator {
    padding-top: 44px;
    padding-bottom: 96px;
    .section-dna-decor {
      left: 90%;
    }
  }
}
.tab {
  display: none;
  &.active {
    display: block;
  }
  &__content {
    @media ($tablet) {
      display: flex;
    }
  }
  &__text {
    flex-basis: 60%;
    >h2, >h3, >h4 {
      font-family: var(--ff-accent);
      font-weight: 400;
      @include gradient-text(#46A29F,#F99073 );
      font-size: 36px;
      line-height: 1.2;
      padding-bottom: 24px;
      margin-bottom: 40px;
      border-bottom: 1px solid rgba(148, 144, 150, 0.2);
    }
    p {
      line-height: 2;
    }
    .cta {
      .btn {
        width: 100%;
        &:hover .btn__bg {
          transform: scale3d(1, 1, 1);
        }
      }
      .description {
        font-size: 14px;
        line-height: 2;
        padding-top: 24px;
        color: #949096;
      }
    }
  }

  &__img {
    text-align: center;
    padding-top: 20px;
    display: none;
      @media ($tablet) {
        display: block;
        padding-top: 0;
        text-align: right;
        flex-basis: 40%;
        margin-left: 20px;
        margin-top: 50px;
        border-radius: 8px;
        overflow: hidden;
      }
      img{
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
      }
  }
}

.boxes {
  @media ($tablet) {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -16px;
  }
  &__item {
    @media ($tablet) {
      padding: 0 16px;
      flex-basis: 50%;
      display: flex;
    }
  }
  .box {
    background: #FFFFFF;
    box-shadow: 0 3px 2px rgba(32, 40, 51, 0.1);
    border-radius: 8px;
    padding: 30px;
    margin-bottom: 24px;
    h2, h3, h4 {
      @include gradient-text(#46A29F,#F99073 );
      font-family: var(--ff-accent);
      display: inline-block;
      font-size: 24px;
      line-height: 1.2;
      margin-bottom: 11px;
    }
  }
}