.workbench-about {
  .container {
    display: flex;
    flex-direction: column;
    min-height: 360px;
    padding: 104px 32px;

    @media ($mob) {
      padding: 56px 32px;
    }
  }

  &__title {
    position: relative;
    h2 {
      font-family: var(--ff-accent);
      font-size: 72px;
      line-height: 1.35;
      margin: 0;
      margin-bottom: 24px;
      @include gradient-text(#46a29f, #4660a2);

      @media ($mob) {
        font-size: 32px;
      }
    }
  }

  &__text {
    font-size: 18px;
    line-height: 36px;
    margin-bottom: 80px;

    @media ($mob) {
      font-size: 16px;
      line-height: 32px;
      margin-bottom: 48px;
    }
  }

  &__info {
    display: flex;
    gap: 32px;

    @media ($mob) {
      flex-direction: column;
    }
  }

  &__video {
    flex: 1;
    display: flex;
    align-items: center;
    border-radius: 8px;
    overflow: hidden;
    @media ($tablet) {
    }
    @media ($desk) {
    }
  }
  &__list {
    position: relative;
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 24px;
    padding-left: 32px;

    @media ($mob) {
      padding-left: 0;
    }

    &-title {
      @include gradient-text(#46a29f, #f99073);

      h3 {
        @media ($mob) {
          font-size: 24px;
        }
      }
    }
  }

  &__item {
    display: flex;
    align-items: baseline;
    gap: 16px;

    &-icon {
      width: 10px;
      height: 11px;
      flex-shrink: 0;
    }

    &-text {
      flex-grow: 1;
      font-size: 18px;

      @media ($mob) {
        font-size: 16px;
      }
    }
  }

  &__bg-video {
    position: absolute;
    left: 30%;
    top: -80px;
    max-width: 1220px;

    @media ($mob) {
      left: -740px;
      max-width: 1440px;
    }
  }
}
