.workbench-benefits {
  padding: 20px 0 104px;

  @media ($mob) {
    padding: 8px 0 80px;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    gap: 64px;
    margin-bottom: 64px;

    @media ($mob) {
      flex-direction: column;
      gap: 48px;
      margin-bottom: 48px;
    }

    &__item {
      flex: 1;
      width: 100%;
    }
    &__item:last-child {
      padding-left: 32px;

      @media ($mob) {
        padding-left: 0;
      }
    }
  }

  &__title {
    position: relative;
    margin-bottom: 32px;
    @include gradient-text(#46a29f, #f99073);

    @media ($mob) {
      margin-bottom: 24px;
    }
  }

  &__item-list {
    display: flex;
    flex-direction: column;
    gap: 24px;

    @media ($mob) {
      gap: 16px;
    }
  }

  &__item {
    display: flex;
    align-items: baseline;
    gap: 16px;

    &-icon {
      width: 10px;
      height: 11px;
    }

    &-wrapper {
      display: flex;
      flex-direction: column;
      width: 502px;
      gap: 8px;
      font-size: 18px;
      line-height: 36px;
    }

    &-text {
      font-size: 18px;
      line-height: 36px;
    }

    &-subtext {
      position: relative;
      padding-left: 16px;
    }
    &-subtext::before {
      content: "•";
      font-size: 14px;
      color: var(--c-gray-800);
      position: absolute;
      left: 0;
      top: 0;
    }
  }

  .btn-container {
    display: flex;
    gap: 64px;
    justify-content: center;

    @media ($mob) {
      flex-direction: column;
      gap: 16px;
    }
  }
}

.section-decor {
  position: absolute;
  top: 250px;
  left: 60%;
  width: 45px;
  height: 46px;
  background: url(../images/ic_section_dna_decor_bott.png) no-repeat 50%;
  background-size: contain;
  opacity: 0.5;
}
