@import "var";
@import "typography";
@import "general";
@import "header";
@import "home1_banner";
@import "home2_advantages";
@import "home3_imagining";
@import "home4_guidance";
@import "home5_partners";
@import "home6_testim";
@import "workbench_banner";
@import "workbench2_features";
@import "workbench3_about";
@import "workbench4_benefits";
@import "footer";
@import "contacts";
@import "partners";
@import "service_single";
@import "blog";
@import "resources";
@import "testing";
@import "plans";
@import "surrogacy";
@import "certified";
@import "intended";
@import "services_page";
@import "about_page";
@import "founder_page";
@import "intended_parents_page";
@import "surrogacy_agency_page";
@import "partner_with_us_page";
@import "coming_soon";

.wp-block-image {
  img {
    max-width: 100% !important;
    height: auto !important;
  }
}
/* Extra styles */
select{
  width: 100%;
  border: 0;
  font-weight: 600;
  color: var(--c-text);
  font-size: 14px;
  padding: 16px;
  border-radius: 6px;
  height: 70px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

    @media ($mob) {
      height: 54px;
    }
}

.footer__bottom.footer_rights{
  margin-top: 0;
  width: 100%;
}
.footer__bottom.footer_rights a{
  text-decoration: none;
  color: #949096;
}
.certified{
  margin: 0 auto!important;
}

.services__buttons{
  display: flex;
  flex-direction: column;
  row-gap: 32px;
  justify-content: space-between;
  align-items: center;
}

.agencies-dropdown{
  padding: 0 0 80px;
}

.program-form-wrapper{
  width: 100%;
  max-width: 740px;
  margin: 0 auto;
  padding: 30px 0;
}

.responce-program__hero {
  /*height: 80vh;*/
  text-align: center;
  padding: 80px 0;
  position: relative;
}

@media screen and (min-width: 800px){
  .form__row .form__item-large{
    width: 100%;
  }

  .form__row .form__item-large .form-input{
    width: 100%;
  }
}

@media (min-width: 1024px){
  .services__buttons{
    flex-direction: row;
    column-gap: 32px;
  }
  .agencies-dropdown{
    padding: 0 0 140px;
  }
  select{
    padding: 23px 27px;
    border-radius: 8px;
  }
}

@media (max-width: 959px) {
  .mob-nav-wrap .header__cta .nav-menu {
    margin: 30px 0;
  }
  .header__cta .menu-item-has-children:hover .sub-menu a {
    padding-bottom: unset;
  }

  .header__cta .menu-item-has-children:hover .sub-menu li {
    padding: 15px 0 7px;
  }
}

@media (min-width: 1200px) {
  .header.sticky .header__cta .wrapper:after{
    top: 0;
  }
}
