@font-face {
    font-family: 'Praho Pro';
    src: local('Praho Pro Regular'), local('Praho-Pro-Regular'),
        url('PrahoPro-Regular.woff2') format('woff2'),
        url('PrahoPro-Regular.woff') format('woff'),
        url('PrahoPro-Regular.ttf') format('truetype');
    font-weight: 400;
    font-style: normal;
  }