extends layouts/default
block content
  .container
    br
    br
    br
    ol
      li
        a(href='home.html') Home page
      li
        a(href='contacts.html') Contact us page
      li
        a(href='partners.html') Our Partners
      li
        a(href='advisors.html') Our Advisors
      li
        a(href='team.html') Our Executive Team
      li
        a(href='service_single.html') Technology empowered pregnancy (Service Single Page)
      li
        a(href='blog.html') Our Blog
      li
        a(href='blog_single.html') Blog Single
      li
        a(href='simple_text_page_terms.html') Terms of Use
      li
        a(href='simple_text_page_privacy.html') Privacy Policy,
      li
        a(href='referals.html') Referrals
      li
        a(href='resources.html') Resources
      li
        a(href='booking.html') Book A Consultation
      li
        a(href='testing.html') Testing Page
      li
        a(href='testing-2.html') Testing Page 2
    br
    br
    br
