extends layouts/default
block content
  .inner-page
    <video autoplay muted loop class="bgVideo dec-video">
    <source src="images/bg_video_banner.mp4" type="video/mp4">
    </video>
    .container
      .section-title
        span Referrals
      .text-page
        h3 Mitera Patient Referral Form
        p To refer your patients to Mitera, please fill out the following HIPAA-compliant referral form. The patient will be contacted to schedule the appointment.
        <script type="text/javascript" src="https://hipaa.jotform.com/jsform/202927602088053"></script>
