extends layouts/default
block content
  .inner-page.resources-page
    <video autoplay muted loop class="bgVideo dec-video">
      <source src="images/bg_video_banner.mp4" type="video/mp4">
    </video>
    .container
      .section-title
        span Resources
    .decorated-bg-container.resources-slider-holder
      .container
        .image-slider__controls
          .swiper-button-prev <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M0.292893 7.29289C-0.0976314 7.68342 -0.0976315 8.31658 0.292892 8.7071L6.65685 15.0711C7.04738 15.4616 7.68054 15.4616 8.07107 15.0711C8.46159 14.6805 8.46159 14.0474 8.07107 13.6569L2.41421 8L8.07107 2.34314C8.46159 1.95262 8.46159 1.31946 8.07107 0.928931C7.68054 0.538406 7.04738 0.538406 6.65686 0.928931L0.292893 7.29289ZM23 7L1 7L1 9L23 9L23 7Z" />
            </svg>
          .swiper-button-next <svg width="23" height="16" viewBox="0 0 23 16" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path  d="M22.7071 8.70711C23.0976 8.31658 23.0976 7.68342 22.7071 7.29289L16.3431 0.928932C15.9526 0.538408 15.3195 0.538408 14.9289 0.928932C14.5384 1.31946 14.5384 1.95262 14.9289 2.34315L20.5858 8L14.9289 13.6569C14.5384 14.0474 14.5384 14.6805 14.9289 15.0711C15.3195 15.4616 15.9526 15.4616 16.3431 15.0711L22.7071 8.70711ZM0 9L22 9V7L0 7L0 9Z"/>
            </svg>
          .resources-swiper-pager
        .resources-slider.swiper-container
          .resources-slider.swiper-wrapper
            .resources-slider__item.swiper-slide
              a(href='https://acs.vqx.mybluehost.me/wp-content/uploads/2020/07/1-2.pdf').resource
                img(src='images/img_resources.jpg' alt loading='lazy')
                p American Society for Reproductive Medicine (ASRM) statement on Fertility services for women at increased risk for complications
            .resources-slider__item.swiper-slide
              a(href='https://acs.vqx.mybluehost.me/wp-content/uploads/2020/07/1-2.pdf').resource
                img(src='images/img_resources.jpg' alt loading='lazy')
                p American Society for Reproductive Medicine (ASRM) statement on Fertility services for women at increased risk for complications
            .resources-slider__item.swiper-slide
              a(href='https://acs.vqx.mybluehost.me/wp-content/uploads/2020/07/1-2.pdf').resource
                img(src='images/img_resources.jpg' alt loading='lazy')
                p American Society for Reproductive Medicine (ASRM) statement on Fertility services for women at increased risk for complications
            .resources-slider__item.swiper-slide
              a(href='https://acs.vqx.mybluehost.me/wp-content/uploads/2020/07/1-2.pdf').resource
                img(src='images/img_resources.jpg' alt loading='lazy')
                p American Society for Reproductive Medicine (ASRM) statement on Fertility services for women at increased risk for complications
            .resources-slider__item.swiper-slide
              a(href='https://acs.vqx.mybluehost.me/wp-content/uploads/2020/07/1-2.pdf').resource
                img(src='images/img_resources.jpg' alt loading='lazy')
                p American Society for Reproductive Medicine (ASRM) statement on Fertility services for women at increased risk for complications
            .resources-slider__item.swiper-slide
              a(href='https://acs.vqx.mybluehost.me/wp-content/uploads/2020/07/1-2.pdf').resource
                img(src='images/img_resources.jpg' alt loading='lazy')
                p American Society for Reproductive Medicine (ASRM) statement on Fertility services for women at increased risk for complications
            .resources-slider__item.swiper-slide
              a(href='https://acs.vqx.mybluehost.me/wp-content/uploads/2020/07/1-2.pdf').resource
                img(src='images/img_resources.jpg' alt loading='lazy')
                p American Society for Reproductive Medicine (ASRM) statement on Fertility services for women at increased risk for complications
            .resources-slider__item.swiper-slide
              a(href='https://acs.vqx.mybluehost.me/wp-content/uploads/2020/07/1-2.pdf').resource
                img(src='images/img_resources.jpg' alt loading='lazy')
                p American Society for Reproductive Medicine (ASRM) statement on Fertility services for women at increased risk for complications
        .swiper-pagination
    .container
      .resources-notation  Referring Physician/Provider
