extends layouts/default
block variables
  -var bodyClass = 'service-template-default';
block content
  .inner-page._left-side-video
    <video autoplay muted loop class="bgVideo dec-video">
      <source src="images/bg_video_banner.mp4" type="video/mp4">
    </video>
    .container
      .section-title.services__title.aos-init(data-aos="fade-up"
        data-aos-duration="1000")
        h1 Mitera Services
        p Mitera’s Maternal-Fetal Medicine doctors are ready to help you prepare for a pregnancy journey. Whether a mom-to-be or a gestational carrier, our board-certified physicians are ready to assess your pregnancy risk and provide their expert guidance for the best possible pregnancy outcomes.
    .decorated-bg-container
      .container
        .services-offers 
          .section-dna-decor._top
          .services-offers__row(data-aos="fade-up"
              data-aos-offset="100"
              data-aos-duration="1000")
            .services-offers__content
              .ellipse-decor 
              p Mitera offers subspecialty virtual appointments for moms-to-be, surrogates and intended parents working with a gestational carrier.Our modern approach to perinatal care offers flexibility, convenience and the expertise you deserve.*
              p 
                strong Mitera offers the following virtual appointments:
                ul 
                  li Maternal-Fetal Medicine (MFM) Standard Preconception Screening
                  li Maternal-Fetal Medicine (MFM) Gestational Carrier Screening
                  li Maternal-Fetal Medicine (MFM) Intended Parent Follow up Consultation
                  li Reproductive Genetic Counseling
            .services-offers__image
              .section-dna-decor._top
              img(src="images/services-1.png", alt="services")