footer.footer
  .container
    .footer__logo
      img(src='images/logo.svg' alt loading='lazy')
    .footer__hpa-logo
      img(src='images/hpa_logo.svg' alt loading='lazy')
    .footer__soc
      a(href='#')
        <svg class="svg">
        <use xlink:href="images/sprite.svg#ic_facebook">
        </use>
        </svg>
      a(href='#')
        <svg class="svg">
        <use xlink:href="images/sprite.svg#ic_instagram">
        </use>
        </svg>
      a(href='#')
        <svg class="svg">
        <use xlink:href="images/sprite.svg#ic_linkedin">
        </use>
        </svg>
      a(href='#')
        <svg class="svg">
        <use xlink:href="images/sprite.svg#ic_twitter">
        </use>
        </svg>
    .footer__nav
      .footer__title
        span Our Useful Links
      ul
        li
          a(href='#') Referrals
        li
          a(href='#') Contact Us
        li
          a(href='#') Blog
        li
          a(href='#') Resources

    .footer__app
      .footer__title
        span Coming Soon
      .footer__app-link
        a(href='#')
          <svg class="svg">
          <use xlink:href="images/sprite.svg#ic_apple">
          </use>
          </svg>
          span App Store
      .footer__app-link
        a(href='#')
          <svg class="svg">
          <use xlink:href="images/sprite.svg#ic_google-play">
          </use>
          </svg>
          span Google Play
  .container
    .footer__bottom
      .footer__title
        span About Mitera
      .footer__text Mitera gives you virtual access to maternal-fetal medicine (MFM) subspecialists, reproductive genetic counselors and other pregnancy experts and helps inform you about your genetic and other pregnancy-related risks through the latest available technologies, empowering you along your family-forming journey.


