header.header
  .container
    .logo
      a(href='#')
        img(src='images/logo.svg')
    .mob-nav-wrap
      nav.nav
        ul.nav-menu
          li.menu-item.menu-item-has-children
            a(href='#') Surrogacy
            ul.sub-menu
              li.menu-item
                a(href='#') Intended Parents
              li.menu-item
                a(href='#') Agencies
              li.menu-item
                a(href='#') Certification Program
          li.menu-item.menu-item-has-children
            a(href='#') Tests
            ul.sub-menu
              li.menu-item
                a(href='#') 23Pears
              li.menu-item
                a(href='#') Peaches&Me
          li.menu-item
            a(href='#') Partners
          li.menu-item.menu-item-has-children
            a(href='#') About Us
            ul.sub-menu
              li.menu-item
                a(href='#') About Mitera
              li.menu-item
                a(href='#') Our Executives
              li.menu-item
                a(href='#') Our Advisors
          li.menu-item
            a(href='#') Contact
      .header__cta
        ul.nav-menu
          li.menu-item.menu-item-has-children
            a(href='#') Order a Test
            ul.sub-menu
              li.menu-item
                a(href='/#') Test 1
              li.menu-item
                a(href='/#') Test 1
        a(href='#') Book a Consultation
    .header__cta
      ul.nav-menu
        li.menu-item.menu-item-has-children
          a(href='#') Order a Test
          ul.sub-menu
            li.menu-item
              a(href='/#') Test 1
            li.menu-item
              a(href='/#') Test 1
      a(href='#') Book a Consultation
    .burger-menu.nav-trigger
      .burger-menu__title Menu
      .burger-menu__icon
        span
        span
        span

