header.header
  .container
    .logo
      a(href='#')
        img(src='images/logo.svg')
    .mob-nav-wrap
      nav.nav
        ul.nav-menu
          li.menu-item.menu-item-has-children
            a Surrogacy
            ul.sub-menu
              li.menu-item
                a(href='/surrogacy/#intended') Intended Parents
              li.menu-item
                a(href='/surrogacy/#agencies') Agencies
              li.menu-item
                a(href='/surrogacy/#certification') Certification Program
          li.menu-item.menu-item-has-children
            a Services
            ul.sub-menu
              li.menu-item
                a(href="/mitera-services/#medical_records_collection_") Medical Records Collection
              li.menu-item
                a(href="/mitera-services/#full_gestational_carrier_psychological_evaluation_") Peaches&Me
          li.menu-item
            a(href='#') Agency Workbench
          li.menu-item.menu-item-has-children
            a About Us
            ul.sub-menu
              li.menu-item
                a(href='#') About Mitera
              li.menu-item
                a(href='#') Work With Us
              li.menu-item
                a(href='#') Our Executives
              li.menu-item
                a(href='#') Our Advisors
          li.menu-item
            a(href='#') Contact

    .header__cta
      a.btn(href='#') Book a Service
      ul.wrapper.nav-menu
        li.menu-item.menu-item-has-children
            a Workbench Login
            ul.sub-menu
              li.menu-item
                a(href='/surrogacy/#intended') Register

    .burger-menu.nav-trigger
      .burger-menu__title Menu
      .burger-menu__icon
        span
        span
        span
